<!-- views/partials/footer.ejs -->
</main>

<footer class="footer">
  <p>SmartShop &copy; 2025 &nbsp;|&nbsp; BIT3208 – Advanced Web Design and Development &nbsp;|&nbsp; Lec Nyoro</p>
</footer>

</body>
</html>
